.barGraph {
    display: flex;
    width: 62rem;
    height: 27.125rem;
    padding: 3.125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5625rem;
    flex-shrink: 0;
}

.graph-title {
    color: var(--Black-Bean, #4C4948);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}