.logoBox{
    display: flex;
    width: 19.25rem;
    height: 8.375rem;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    width: 19.25rem;
    padding: 1.5rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.menuItemsUnselected{
    display: flex;
    padding: 1rem 2.5625rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0rem 1rem 1rem 0rem;
}

.menuItemsSelected{
    display: flex;
    width: 15.25rem;
    padding: 1rem 2.5625rem;
    align-items: center;
    gap: 1rem;

    border-radius: 0rem 1rem 1rem 0rem;
    background: var(--Rainforest-Green, #00715B);
}