.intSideNavMenuP{
    display: flex;
    width: 15.25rem;
    padding: 1rem 2.5625rem;
    align-items: center;
    gap: 1rem;

    border-radius: 0rem 1rem 1rem 0rem;
    background: var(--Rainforest-Green, #00715B);
}

.iconP{
    width: 1.67569rem;
    height: 1.67569rem;
    flex-shrink: 0;

    fill: var(--White-Smoke, #F5F5F5);
}

.intSideNavMenuUnP{
    display: flex;
    padding: 1rem 2.5625rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 0rem 1rem 1rem 0rem;
}

.iconUnP{
    width: 1.67569rem;
    height: 1.67569rem;

    fill: var(--Black-Bean, #4C4948);
}

