.intTopNavStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
}

.statusIcon{
    width: 2.9375rem;
    height: 2.9375rem;
    stroke: var(--Rainforest-Green, #00715B);
}

.statusText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}