
/* div.border2 {
    display: flex;
    padding: 0.375rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
} */

button.sideNavButton {
    /* color: var(--White-Smoke, #F5F5F5);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    background-color: var(--Rainforest-Green, #00715B);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    border-radius: 0.75rem; */

    border-radius: 0rem 1rem 1rem 0rem;
    background: var(--Rainforest-Green, #00715B);
}