.App {
  text-align: center;
  width: auto;
  height: 67.5rem;
  background: var(--White-Smoke, #F5F5F5);
}

@font-face {
  font-family: proxima;
  src: url(/src/assets/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.ttf);
}

* {
  font-family: proxima, sans-serif;
}